<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="Style.css" >  
    <title>Login</title>
  </head>
  <body>
    <div class="box">
    <form method="POST" action="/login">
      Email:
      <div class="outer-field">
      <div class="field">
        <input class="inner-field" type="email" name="email" placeholder="Your Email" autofocus="">
      </div>
    </div>
      Password:
    <div class="outer-field">
      <div class="field">
        <input class="inner-field" type="password" name="password" placeholder="Your Password">
      </div>
      </div>
      <button>Login</button>
    </div>
  </form>
  </body>
</html>
