<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="Style.css" />
    <title>Sign Up</title>
  </head>
  <body>
    <form method="POST" action="/signup">
      <p>email</p>
      <div class="container">
        <label for="email">
          <input type="text" class="email" />
        </label>
      </div>
      <p>name</p>
      <div class="container">
        <label for="name">
          <input type="text" class="name" />
        </label>
      </div>
      <p>Password</p>
      <div class="container">
        <label for="Password">
          <input type="text" class="Password" />
        </label>
      </div>
      <button>sign up</button>
    </form>
  </body>
</html>
