{% extends "navigation.html" %}

{% block content %}
<div class="box">
  <form action="/signup" method="POST">
    <p style="padding-bottom:10px;text-align: center;font-weight: 600;">Sign Up</p>
    <p style="padding-left: 15px;">Email:</p>
    <div class="outer-field">
      <div class="field">
          <input class="inner-field" type="email" name="email" placeholder="Enter Your Email" autofocus="">
      </div>
  </div>
  <p style="padding-left: 15px;">Name:</p>
  <div class="outer-field">
    <div class="field">
        <input class="inner-field" type="text" name="name" placeholder="Enter Your Name" autofocus="">
      </div>
    </div>
    <p style="padding-left: 15px;">Password:</p>
    <div class="outer-field">
      <div class="field">
          <input class="inner-field" type="password" name="password" placeholder="Enter Your Password">
      </div>
  </div>
  <button class="button is-block is-info is-large is-fullwidth">Sign Up</button>
</form>
</div>
{% endblock %}
