* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  background: #222;
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 100%;
  margin: auto;
}

#navbar {
  background: #55d6aa;
}

#navbar::after {
  content: "";
  display: table;
  clear: both;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  float: left;
  margin-right: 70px;
  padding-top: 25px;
  padding-bottom: 25px;

  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

nav a:hover {
  color: black;
  font-weight: 600;
}

nav a::before {
  content: "";
  display: block;
  height: 5px;
  width: 0%;
  background-color: #000;
  position: absolute;
  top: 0;

  transition: ease 250ms;
}

nav a:hover::before {
  width: 100%;
}

.box {
  position: absolute;
  display: flex;
  margin: auto;
  width: 50%;
  border: 3px solid #55d6aa;
  border-radius: 10px;
  padding: 10px;
  background-color: #55d6aa;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 60%;
}

form {
  width: 80%;
  position: relative;
  margin: auto;
  padding: 50px;
}

.field {
  position: relative;
  margin: auto;
  height: 100%;
  width: 100%;
  height: 42px;
  border: 1px solid rgb(110, 110, 110);
  border-spacing: 0 100px;
  border-radius: 50px;
}

.inner-field {
  padding-left: 15px;
  border: none;
  height: 100%;
  width: 100%;
  border-radius: 50px;
}

.outer-field {
  padding-bottom: 20px;
}

.box button {
  margin: 0;
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 5px 20px;
}
input::placeholder {
  padding-left: 15px;
}
