{% extends 'main.html' %}

{% block content %}
<main id="main">
    <div class="box">

        <form method="POST" action="{{ handler_url }}">
            <h1 style="text-align:center;">{{ title }}</h1>
             {{ form.csrf_token }}
             <header>{{ form.username.label }}:</header>
            <div class="outer-field">
                <div class="field"> 
                    {{ form.username(class_="inner-field", placeholder="Enter Username") }}
                </div>
            </div>
                    {% if form.username.errors or username_error_message is not none %}
                    <ul class="errors">
                        {% if username_error_message is not none %}
                        <li>
                                {{ username_error_message }}
                            </li>
                        {% endif %}
                        {% for error in form.username.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

            <header>{{ form.password.label }}:</header>
            <div class="outer-field">
                <div class="field"> 
                    {{ form.password(class_="inner-field", placeholder="Enter password") }}
                </div>
            </div>
                {% if form.password.errors or password_error_message is not none %}
                    <ul class="errors">
                        {% if password_error_message is not none %}
                            <li>
                                {{ password_error_message }}
                            </li>
                        {% endif %}
                        {% for error in form.password.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            <div>
            {{ form.submit(class_="button_styles") }}
        </div>
        </form>
    </div>
</main>
{% endblock %}